<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.org.egglog.presentation">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>

        <!-- AUTH -->
        <activity
            android:name=".domain.auth.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".domain.auth.activity.LoginActivity" />
        <activity android:name=".domain.auth.activity.PlusLoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirection_scheme" />
            </intent-filter>
        </activity>

        <!-- MAIN -->
        <activity android:name=".domain.main.activity.MainActivity" android:hardwareAccelerated="true" />

        <!-- SETTING -->
        <activity android:name=".domain.setting.activity.SettingActivity" />

<!--        <activity android:name=".domain.community.posteditor.activity.PostEditorActivity" />-->
        <activity android:name=".domain.community.activity.CommunityActivity"/>

        <!-- GROUP -->
        <activity android:name=".domain.group.activity.GroupActivity"/>

        <!-- MY CALENDAR -->
        <activity android:name=".domain.myCalendar.activity.MyCalendarActivity" />

        <service
            android:name=".receiver.FcmReceiveService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".receiver.ForegroundService"
            android:foregroundServiceType="location"/>
        <receiver android:name=".receiver.StopServiceReceiver"/>

        <receiver android:name=".receiver.AlarmBroadcastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>

</manifest>